
CapybaraMain/Capy.Models/obj
CapybaraMain/Capy.Models/obj/Capy.Models.csproj.nuget.g.props
CapybaraMain/Capy.Models/obj/Capy.Models.csproj.nuget.g.targets
CapybaraMain/Capy.Models/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CapybaraMain/Capy.Models/obj/Debug/net6.0/Capy.Models.AssemblyInfo.cs
CapybaraMain/Capy.Models/obj/Debug/net6.0/Capy.Models.AssemblyInfoInputs.cache
CapybaraMain/Capy.Models/obj/Debug/net6.0/Capy.Models.assets.cache
CapybaraMain/Capy.Models/obj/Debug/net6.0/Capy.Models.csproj.AssemblyReference.cache
CapybaraMain/Capy.Models/obj/Debug/net6.0/Capy.Models.GeneratedMSBuildEditorConfig.editorconfig
CapybaraMain/Capy.Models/obj/Debug/net6.0/Capy.Models.GlobalUsings.g.cs
CapybaraMain/Capy.Models/obj/project.assets.json
CapybaraMain/Capy.Models/obj/project.nuget.cache
CapybaraMain/Capy.Repository/obj
CapybaraMain/Capy.Repository/obj/Capy.Repository.csproj.nuget.g.props
CapybaraMain/Capy.Repository/obj/Capy.Repository.csproj.nuget.g.targets
CapybaraMain/Capy.Repository/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CapybaraMain/Capy.Repository/obj/Debug/net6.0/Capy.Repository.AssemblyInfo.cs
CapybaraMain/Capy.Repository/obj/Debug/net6.0/Capy.Repository.AssemblyInfoInputs.cache
CapybaraMain/Capy.Repository/obj/Debug/net6.0/Capy.Repository.assets.cache
CapybaraMain/Capy.Repository/obj/Debug/net6.0/Capy.Repository.csproj.AssemblyReference.cache
CapybaraMain/Capy.Repository/obj/Debug/net6.0/Capy.Repository.GeneratedMSBuildEditorConfig.editorconfig
CapybaraMain/Capy.Repository/obj/Debug/net6.0/Capy.Repository.GlobalUsings.g.cs
CapybaraMain/Capy.Repository/obj/project.assets.json
CapybaraMain/Capy.Repository/obj/project.nuget.cache
CapybaraMain/Capy.RestApi/bin
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/appsettings.json
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Capy.RestApi.deps.json
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Capy.RestApi.dll
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Capy.RestApi.exe
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Capy.RestApi.pdb
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Capy.RestApi.runtimeconfig.json
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Microsoft.OpenApi.dll
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
CapybaraMain/Capy.RestApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
CapybaraMain/Capy.RestApi/obj/Capy.RestApi.csproj.nuget.dgspec.json
CapybaraMain/Capy.RestApi/obj/Capy.RestApi.csproj.nuget.g.props
CapybaraMain/Capy.RestApi/obj/Capy.RestApi.csproj.nuget.g.targets
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/apphost.exe
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.AssemblyInfo.cs
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.AssemblyInfoInputs.cache
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.assets.cache
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.csproj.AssemblyReference.cache
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.csproj.BuildWithSkipAnalyzers
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.csproj.CopyComplete
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.csproj.CoreCompileInputs.cache
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.csproj.FileListAbsolute.txt
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.dll
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.GeneratedMSBuildEditorConfig.editorconfig
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.genruntimeconfig.cache
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.GlobalUsings.g.cs
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.MvcApplicationPartsAssemblyInfo.cache
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.MvcApplicationPartsAssemblyInfo.cs
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/Capy.RestApi.pdb
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/ref/Capy.RestApi.dll
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/refint/Capy.RestApi.dll
CapybaraMain/Capy.RestApi/obj/project.assets.json
CapybaraMain/Capy.RestApi/obj
CapybaraMain/Capy.RestApi/obj/staticwebassets.pack.sentinel
CapybaraMain/Capy.RestApi/obj/Debug/net6.0/staticwebassets.build.json
CapybaraMain/Capy.Services/obj
CapybaraMain/Capy.Services/obj/Capy.Services.csproj.nuget.g.props
CapybaraMain/Capy.Services/obj/Capy.Services.csproj.nuget.g.targets
CapybaraMain/Capy.Services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CapybaraMain/Capy.Services/obj/Debug/net6.0/Capy.Services.AssemblyInfo.cs
CapybaraMain/Capy.Services/obj/Debug/net6.0/Capy.Services.AssemblyInfoInputs.cache
CapybaraMain/Capy.Services/obj/Debug/net6.0/Capy.Services.assets.cache
CapybaraMain/Capy.Services/obj/Debug/net6.0/Capy.Services.csproj.AssemblyReference.cache
CapybaraMain/Capy.Services/obj/Debug/net6.0/Capy.Services.GeneratedMSBuildEditorConfig.editorconfig
CapybaraMain/Capy.Services/obj/Debug/net6.0/Capy.Services.GlobalUsings.g.cs
CapybaraMain/Capy.Services/obj/project.assets.json
CapybaraMain/Capy.Services/obj/project.nuget.cache
